.container1 {
    width: 1080px;
    height: 9500x;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.headerimg {
    width: 1080px;
    height: auto;
    position:fixe;
}

body {
    background: rgba(255, 0, 0, 0.462);
}

.image1 {
    width: 500px;
}

p {
    position: absolute;
    width: 580px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 30px;
    margin-left: 500px;
    margin-top:  -1300px;
    text-align: end;
}

.image2 {
    position: absolute;
    width: 580px;
    margin-top: 1600px;
    margin-left: -500px;
}

.image3 {
    width: 500px;
    margin-left: 580px;
}

p.class1 {
    position: absolute;
    width: 580px;
    margin-left: 0px;
    font-size: 27px;
    text-align: left;
    margin-top: -1200px;
}

.image4 {
    position: absolute;
    width: 580px;
    margin-top: -800px;
}

.image5 {
    position: absolute;
    width: 400px;
    margin-top: -750px;
    margin-left: -65px;
}

.image6 {
    position: absolute;
    width: 400px;
    margin-top: -720px;
    margin-left: 250px;
}

.pradadiv {
    margin-right: 500px;
}

.image7 {
    position: absolute;
    width: 400px;
    margin-top: -420px;
    margin-left: -65px;
}

.image8 {
    position: absolute;
    width: 400px;
    margin-top: -420px;
    margin-left: 250px;
}

.image9 {
    position: absolute;
    margin-top: 680px;
    width: 580px;
}

Body {
    animation: transitionIn 1.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
}

.image10 {
    position: absolute;
    width: 540px;
    margin-left: 540px;
    margin-top: 140px;
}

.image11 {
    position: absolute;
    width: 580px;
    margin-top: 770px;
}

.image12 {
    position: absolute;
    width: 580px;
    margin-top: 945px;
}

.image13 {
    position: absolute;
    width: 580px;
    margin-top: 1250px;
}

h1 {
    position: absolute;
}

h2 {
    position: absolute;
    margin-top: 50px;
    width: 540px;
    font-size: 15px;
}
